{% extends 'base.html.twig' %}

{% block title %}{{title_page}}{% endblock %}

{% block body %}
{# On vérifie que le formulaire existe avant de l'afficher #}
{% if formAddCourse|default %}
<h1 class="ui list uk-animation-slide-down">{{title_page}}</h1>
{{ form_start(formAddCourse, {'attr': {'class': 'ui form'}}) }}
{# la class field pour afficher les erreurs #}
<div class="{% if formAddCourse.nameCourse.vars.errors|length > 0 %}field{% endif %}">
    {{ form_row(formAddCourse.nameCourse) }}
    {{ form_row(formAddCourse.category) }}
    {{ form_row(formAddCourse.submit) }}
</div>
{{ form_end(formAddCourse) }}
{% endif %}

{% if services | default %}
<h1 class="uk-animation-slide-left">{{title_page}}</h1>
{# On affiche les services touvés #}
<div class="ui list uk-animation-fade">
    {% for service in services %}
    <div class="item">
        <i class="folder icon"></i>
        <div class="content">
            <div class="header"><a href="{{ path('detail_service', { 'id': service.id }) }}">{{ service.title}}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}


{% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('new_course') }}" class="ui button">
    Ajouter une sous-catégorie
</a>
{% endif %}

{% endblock %}