{% extends 'base.html.twig' %}

{% block title %}{{title_page}}{% endblock %}

{% block body %}
<style>
    .ui.container.course {
        padding-top:10vh;
        max-width: 100%;
        height: 100vh; 
    }

    .ui.list.course {
        padding-top: 40px;
    }
</style>
<div class="ui container course">
    {# container title animation #}
    <div class="uk-animation padding-top-large">
        <div class="uk-animation-slide-right">
            <h1 class="title uk-animation-slide-right">{{ title_page }}</h1>
        </div>
    </div>
    {# list course #}
    {% if courses | default %}
    <div class="ui list uk-animation-fade course ">
        {% for course in courses %}
        <div class="item">
            <i class="folder icon"></i>
            <div class="content">
                <div class="header">
                    <a href="{{ path('detail_course', { 'id': course.id, 'page' : '1' }) }}">
                        {{ course.nameCourse}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if services | default %}
    {# On affiche les services touvés #}
    <div class="ui list uk-animation-fade course">
        {% for service in services %}
        <div class="ui card custom-card">
            <div class="custom-image-client">
                <img src="{{ service.picture }}" alt="Image {{ title_page }} {{ service.title }}">
            </div>
            <div class="content custom-card-content">
                <div class="header">{{ service.title }}</div>
                <div class="meta">
                    <span class="date">Inscrit le {{ service.createDate|date('d-m-Y') }}</span>
                </div>
                <div class="description">
                    {{ service.description|slice(0, 100) }}...
                </div>
            </div>
            <div class="extra content">
                <a href="{{ path('detail_service', { 'id': service.id }) }}">
                    Plus d'infos
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="ui container">
        <div class="ui pagination menu centered custom-margin-top">
            {% for page in range(1, pagination.pageCount) %}
            <a class="item{% if page == pagination.currentPageNumber %} active{% endif %}"
                href="{{ path('detail_course', {'id': courseId, 'page': '1' }) }}">
                {{ page }}
            </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {# add course #}
    {% if formAddCourse|default %}
    <div class="ui segment">
        {{ form_start(formAddCourse, {'attr': {'class': 'ui form'}}) }}
        <div class="{% if formAddCourse.nameCourse.vars.errors|length > 0 %}field{% endif %}">
            {{ form_row(formAddCourse.nameCourse) }}
            {{ form_row(formAddCourse.category) }}
        </div>
        <div class="field padding-top-large">
            <button name="serviceForm" type="submit" class="ui-button ui-widget ui-corner-all">
                <span class="ui-icon ui-icon-check"></span> Valider
            </button>
        </div>
    </div>

    {{ form_end(formAddCourse) }}
    {% endif %}
    {% if is_granted('ROLE_ADMIN') and formAddCourse is not defined %}
    {# section administration access #}
    <div class="ui segment padding-bottom-large">
        <h3>Administration:</h3>
        <a href="{{ path('new_course') }}" class="ui-button ui-widget ui-corner-all margin-top-large">
            <span class="ui-icon ui-icon-plus"></span> Ajouter une sous-catégorie
        </a>
    </div>
    {% endif %}

</div>
{% endblock %}