{% extends 'base.html.twig' %}

{# {% block title %}{{title_page}}{% endblock %} #}

{% block body %}
<div class="custom-container">
    <h1 class="uk-animation-slide-right">Bienvenue sur votre {{ title_page }} {{ app.user }}</h1>
    <div class="separator">{% include "alertflash/flash_message.html.twig" %}</div>
</div>
<div class="ui container cart-container">
    <h1 class="ui header">Mon panier</h1>
    {% if data | default %}
    <div class="ui segment">
        <div class="ui items">
            {% for product in data %}

            <div class="item">
                <div class="ui small image">
                    <img src="{{ product.serviceItem.picture['url'] }}"
                        alt="Image produits {{ product.serviceItem.title }}">
                </div>
                <div class="content">
                    <a class="header">{{ product.serviceItem.title }}</a>
                    <div class="meta">
                        <span class="price">{{ product.serviceItem.price }}€</span>
                    </div>
                    {# <div class="description">
                        <p>{{ product.serviceItem.description }}</p>
                    </div> #}
                    <div class="extra">
                        <div class="ui right floated">
                            <div class="ui labeled input">
                                <div class="ui label">Quantité</div>
                                <input type="number" value="{{ product.quantity }}">
                            </div>
                            <a href="{{ path('delete_service_cart', {id: product.serviceItem.id}) }}"
                                class="ui primary button">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="cart-total">
            <h3>Total: {{ total }}€</h3>
            {% if stripe_public_key| default %}
            <button class="ui button green" id="checkout-button" data-public-key="{{ stripe_public_key }}"
                data-create-checkout="{{ path('app_stripe_charge') }}">Payer</button>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>


{#
<script src="https://js.stripe.com/v3/"></script> #}
{#
<script>
    const checkout = document.getElementById('checkout-button');
    const public_key = checkout.dataset.publicKey
    const stripe = Stripe(public_key);

    checkout.addEventListener('click', () => {

        fetch(checkout.dataset.createCheckout, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response => response.json())
            .then(session => {
                console.log(session);
                //return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(result => {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });

</script> #}


{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('cart') }}
{% endblock %}
{% endblock %}