{% extends 'base.html.twig' %}

{% block body %}


    <div class="ui container">

        {% if data | default %}
        <div class="ui segment">
            <div class="ui items padding-top-extra-large">
                {% for product in data %}

                <div class="item">
                    <div class="ui small image">
                        <img src="{{ product.serviceItem.picture }}"
                            alt="Image produits {{ product.serviceItem.title }}">
                    </div>
                    <div class="content">
                        <a class="header">{{ product.serviceItem.title }}</a>
                        <div class="meta">
                            <span class="price">{{ product.serviceItem.price }}€</span>
                        </div>

                        <div class="extra">
                            <div class="ui right floated">
                                <div class="ui labeled input">
                                    <div class="ui label">Quantité</div>
                                    <input type="number" value="{{ product.quantity }}">
                                </div>
                                <a href="{{ path('delete_service_cart', {id: product.serviceItem.id}) }}"
                                    class="ui primary button">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="cart-total">
                <h3>Total: {{ total }}€</h3>
                {% if stripe_public_key| default %}
                <button class="ui button green" id="checkout-button" data-public-key="{{ stripe_public_key }}"
                    data-create-checkout="{{ path('app_stripe_charge') }}">Payer</button>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>

{% block javascripts %}
{{ parent() }}
{# {{ encore_entry_script_tags('cart') }} #}
{% endblock %}
{% endblock %}