{% extends 'base.html.twig' %}

{% block title %}{{title_page}}{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('slick-carousel-css') }}
{{ encore_entry_link_tags('slick-carousel-theme-css') }} {# Optionnel, si vous utilisez le thème par défaut #}
{% endblock %}

{% block body %}

<h1>{{ title_page }}</h1>
    {# <div class="ui-state-disabled ui-corner-all" style="margin-bottom:5px"></div> #}
    <div class="ui container" id="initial-container">
        <!-- This div will take the height of the viewport -->
    </div>
    <div id="search-results-navbar">
        {# Vérification si le formulaire soumis est 'form_service' et s'il y a des résultats #}
        {% if submitted_form == 'service' and results|default %}
        <h2>Résultats</h2>
        <ul>
            {# Afficher un message si aucun résultat n'est trouvé #}
            {% if results.empty|default %}
            <h2>Aucun résultat</h2>
            {% else %}
            {# Conversion du terme de recherche en minuscules pour une comparaison insensible à la casse #}
            {% set search_term_lower = search_term|lower %}

            {# Boucle à travers les résultats et affichage si le terme de recherche est trouvé #}
            <ul>
                {% for result in results %}
                {# Vérifie si le thème contient des catégories/cours/services correspondant au terme de recherche #}
                {% set display_theme = false %}
                {% for category in result.categories %}
                {% for course in category.courses %}
                {% for service in course.services %}
                {% if service.title|lower matches '/.*' ~ search_term_lower ~ '.*/' or service.description|lower matches
                '/.*' ~
                search_term_lower ~ '.*/' %}
                {% set display_theme = true %}
                {% endif %}
                {% endfor %}
                {% endfor %}
                {% endfor %}

                {# Affiche le thème si nécessaire #}
                {% if display_theme %}
                <li><strong>Thème : {{ result.nameTheme }}</strong></li>
                <ul>
                    {% for category in result.categories %}
                    {# Vérifie si la catégorie contient des cours/services correspondant au terme de recherche #}
                    {% set display_category = false %}
                    {% for course in category.courses %}
                    {% for service in course.services %}
                    {% if service.title|lower matches '/.*' ~ search_term_lower ~ '.*/' or service.description|lower
                    matches
                    '/.*' ~ search_term_lower ~ '.*/' %}
                    {% set display_category = true %}
                    {% endif %}
                    {% endfor %}
                    {% endfor %}

                    {# Affiche la catégorie si nécessaire #}
                    {% if display_category %}
                    <li><strong>Catégorie : {{ category.nameCategory }}</strong></li>
                    <ul>
                        {% for course in category.courses %}
                        {# Vérifie si le cours contient des services correspondant au terme de recherche #}
                        {% set display_course = false %}
                        {% for service in course.services %}
                        {% if service.title|lower matches '/.*' ~ search_term_lower ~ '.*/' or service.description|lower
                        matches
                        '/.*' ~ search_term_lower ~ '.*/' %}
                        {% set display_course = true %}
                        {% endif %}
                        {% endfor %}

                        {# Affiche le cours si nécessaire #}
                        {% if display_course %}
                        <li><strong>Cours : {{ course.nameCourse }}</strong></li>
                        <ul>
                            {% for service in course.services %}
                            {% if service.title|lower matches '/.*' ~ search_term_lower ~ '.*/' %}
                            <li>
                                <a href="{{ path('detail_service_home', { 'id': service.id }) }}">{{ service.title
                                    }}</a>
                            </li>
                            {% endif %}
                            {% if service.description|lower matches '/.*' ~ search_term_lower ~ '.*/' %}
                            <li>
                                <a href="{{ path('detail_service_home', { 'id': service.id }) }}">{{ service.description
                                    }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </ul>
        {% endif %}

            {# <h2>Derniers inscrits et enregistrements</h2> #}
            <div class="ui container" id="carousel-container">
                <div class="carousel-container">
                    <div class="ui segment">
                        <h2>Derniers inscrits et enregistrements</h2>
                        <div class="ui fluid carousel">
                            <div class="ui grid">
                                <div class="sixteen wide column">
                                    <div class="ui carousel slider">
                                        {% if lastDeveloper %}
                                        <div class="carousel-slide">
                                            <h3>Dernier développeur inscrit</h3>
                                            <img src="{{ asset(lastDeveloper.picture) }}" alt="{{ lastDeveloper.username }}">
                                            <p>{{ lastDeveloper.username }} {{ lastDeveloper.lastname }}</p>
                                            <p></p>
                                        </div>
                                        {% endif %}
                                        
                                        {% if lastEnterprise %}
                                        <div class="carousel-slide">
                                            <h3>Dernière entreprise inscrite</h3>
                                            <img src="{{ asset(lastEnterprise.picture) }}" alt="{{ lastEnterprise.username }}">
                                            <p>{{ lastEnterprise.username }} {{ lastEnterprise.lastname }}</p>
                                            <p></p>
                                        </div>
                                        {% endif %}
                                        
                                        {% if lastService %}
                                        <div class="carousel-slide">
                                            <h3>Dernier service enregistré</h3>
                                            <img src="{{ asset(lastService.picture) }}" alt="{{ lastService.title }}">
                                            <p>{{ lastService.title }} {{ lastService.description }}</p>
                                            <p></p>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('HomeCarrousel') }}
{{ encore_entry_script_tags('slick-carousel') }}
{% endblock %}
{% endblock %}