{% extends 'base.html.twig' %}

{% block body %}
<div class="ui container"> 
    <div class="ui-state-disabled ui-corner-all" style="margin-bottom:5px">Thême Jquery-ui:  './node_modules/jquery-ui/dist/themes/blitzer/theme.css'</div>
    <div class="ui-state-disabled ui-corner-all">Thême Semantic:  './node_modules/jquery-ui/dist/themes/blitzer/theme.css'</div>
    

    <div class="ui message">
        <h1 class="ui huge header">
            Recherchez votre service simplement et rapidement
        </h1>
        <p class="lead">
            Simple et efficace grâce à nos fonctionnalités intuitives...
        </p>
        {# Formulaire de recherche, commençant ici #}
        {{ form_start(form_service, {'attr': {'id': 'theme_category_course', 'class': 'ui form'}}) }}
        {{ form_widget(form_service, {'attr': {'class': 'full-width-input'}}) }}
        {# Champ caché pour transmettre correctement le type de formulaire soumis pour éviter les confusions #}
        <input type="hidden" name="submitted_form_type" value="theme_category_course">
        {{ form_end(form_service, {'attr': {'class': 'full-width-input'}}) }}
    </div>
</div>

{# Vérification si le formulaire soumis est 'form_service' et s'il y a des résultats #}
{% if submitted_form == 'form_service' and results|default %}
<h2>Résultats</h2>
<ul>
    {# Afficher un message si aucun résultat n'est trouvé #}
    {% if results.empty|default %}
    <h2>Aucun résultats</h2>
    {% else %}
    {# Conversion du terme de recherche en minuscules pour une comparaison insensible à la casse #}
    {% set search_term_lower = search_term|lower %}

    {# Boucle à travers les résultats et affichage si le terme de recherche est trouvé #}
    {% for result in results %}
    {% if result.nameTheme is defined and result.nameTheme|lower matches '/.*' ~ search_term_lower ~ '.*/' %}
    <li>{{ result.nameTheme }}</li>
    {% endif %}

    {% for category in result.categories %}
    {% if category.nameCategory is defined and category.nameCategory|lower matches '/.*' ~ search_term_lower ~ '.*/' %}
    <li>{{ category.nameCategory }}</li>
    {% endif %}

    {% for course in category.courses %}
    {% if course.nameCourse is defined and course.nameCourse|lower matches '/.*' ~ search_term_lower ~ '.*/' %}
    <li>{{ course.nameCourse }}</li>
    {% endif %}

    {% for service in course.services %}
    {% if service.title is defined and service.title|lower matches '/.*' ~ search_term_lower ~ '.*/' %}
    <li>{{ service.title }}</li>
    {% endif %}

    {% if service.description is defined and service.description|lower matches '/.*' ~ search_term_lower ~ '.*/' %}
    <li>{{ service.description }}</li>
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endfor %}
    {% endfor %}
    {% endif %}
</ul>
{% endif %}
{% endblock %}