{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('react-responsive-carousel') }}
{{ encore_entry_link_tags('react-multi-carousel') }}
{{ encore_entry_link_tags('slick-carousel-css') }}
{{ encore_entry_link_tags('slick-carousel-theme-css') }}
{% endblock %}

{% block body %}


<script>
    window.__INITIAL_DATA__ = {
    lastDeveloper: {{ lastDeveloper | json_encode() | raw }},
    lastClient: {{ lastClient | json_encode() | raw }},
    lastService: {{ lastService | json_encode() | raw }},
    searchItemUserToken: "{{ csrf_token('searchItemUserToken') }}",
    searchItemCityToken: "{{ csrf_token('searchItemCityToken') }}",
    searchDeveloper: "{{ search_developer }}", // route search_developer
    searchClient: "{{ search_client }} "};// route search_client Optionel
</script>
<div id="ParallaxHome"></div>

<div class="ui container ">
<div class="content-block">
    <div class="image-container">
        <img src="{{ asset('uploads/group2.webp') }}" alt="image of a group of developers gathered in front of a computer">
    </div>
    <div class="text-container">
        <h2>Trouvez le bon profil</h2>
        <p>Consultez les avis et expériences, et discutez directement avec les freelances pour pouvoir les engager
            en
            quelques clics. </p>
    </div>
</div>

 {# <div id="homepage-root"></div>  #}
<div id="developer-search-root"></div>

<div class="separator"></div>
<div class="bestservices-container" id="bestservices-root"></div>
<div class="separator"></div>
<div class="content-block">
    <div class="text-container">
        <h2>Évoluez dans un endroit sûr et un service sécurisé</h2>
        <p>Concentrez-vous sur la collaboration grâce au paiement en ligne sécurisé, aux commentaires et
            évaluations,
            aux missions garanties et aux profils de freelances vérifiés.</p>
    </div>
    <div class="image-container">
        <img src="{{ asset('uploads/group.webp') }}" alt="image of a group of developers gathered in front of a project manager">
    </div>
</div>
</div>
{# <div id="last-developers"></div> #}
<div id="ParallaxFooter"></div>
<div class="separator"></div>
{% block javascripts %}
{{ parent() }}

{{ encore_entry_script_tags('Parallax') }}
{{ encore_entry_script_tags('slick-carousel') }}
{{ encore_entry_script_tags('DeveloperSearch') }}
{{ encore_entry_script_tags('CarouselComponent') }}
{# {{ encore_entry_script_tags('Homepage') }} #}
{{ encore_entry_script_tags('home') }}
{% endblock %}
{% endblock %}