{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('react-responsive-carousel') }}
{{ encore_entry_link_tags('react-multi-carousel') }}
{% endblock %}

{% block body %}
{# title page #}
{# <div class="ui container">
    {% if app.user %}<h1 class="uk-animation-slide-bottom">Bienvenue, {{ app.user.username }}!</h1>
    {% else %}<h1 class="uk-animation-slide-bottom">{{ title_page }}</h1>
    {% endif %}
</div> #}
<style>

</style>

{# <div id="carousel-root"></div> #}
<div id="parallax-root"></div>

{# <div id="segment-root">SEGMENT ROOT</div> #}
<div class="separator"></div>







<div class="custom-container">
    {# <h2 class="uk-animation-slide-right">Meilleurs services</h2> #}
    <div id="bestservices-root"></div>
</div>

<div id="parallax-root-2"></div>
{# <div id="segment-root-2">SEGMENT ROOT</div> #}



<div class="custom-container">

    <div class="ui equal width aligned padded grid home">

        <div class="row">
            <div class="column ">

                <div class="ui centered card leaf" data-animation="fade down in" data-duration="2.5s">
                    <div class="content">
                        <div class="header">{{ lastDeveloper.firstName }} {{ lastDeveloper.lastName }}</div>
                        <div class="meta">
                            <span class="right floated time">Date d'inscription: {{ lastDeveloper.dateRegister |
                                date('d/m/Y') }}</span>


                            {% if 'ROLE_DEVELOPER' in lastDeveloper.roles %}
                            <span class="category">Développeur</span>
                            {% endif %}

                           
                        </div>
                        <div class="description">
                            <p>{{ lastDeveloper.bio }}</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="right floated author">
                            <img class="ui avatar" src="{{ asset(lastDevImg) }}"> Matt
                        </div>
                    </div>
                </div>
            </div>

            <div class="column ">
                <div class="slide" data-animation="slide right in" data-duration="2.5s">
                    <h2>Nom prenom</h2>
                    <p>Nous sommes ravis d'accueillir John Doe, notre nouveau développeur sur Fiverrjr ! Expert en
                        développement
                        web et mobile, John maîtrise HTML, CSS, JavaScript, React et Node.js. Découvrez son profil et
                        ses
                        projets pour voir comment il peut apporter des solutions innovantes à vos besoins. Bienvenue,
                        John !
                    </p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="column text-center uk-animation-fade">
                <h1>Contactez des Développeurs Front-End maintenant</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim omnis doloribus quo deserunt optio! Tempora fugiat, harum ipsa alias magnam neque! Maiores dolores molestias magnam ipsum at accusantium, commodi a.</p>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <div class="slide" data-animation="slide left in" data-duration="2.5s">
                    <h2>Nom prenom</h2>
                    <p>Nous sommes ravis d'accueillir John Doe, notre nouveau développeur sur Fiverrjr ! Expert en
                        développement
                        web et mobile, John maîtrise HTML, CSS, JavaScript, React et Node.js. Découvrez son profil et
                        ses
                        projets pour voir comment il peut apporter des solutions innovantes à vos besoins. Bienvenue,
                        John !</p>
                </div>
            </div>
            <div class="column">
                <div class="ui centered card leaf" data-animation="fade down in" data-duration="2.5s">
                    <div class="content">
                        <div class="header">{{ lastClient.firstName }} {{ lastClient.lastName }}</div>
                        <div class="meta">
                            <span class="right floated time">Date d'inscription: {{ lastClient.dateRegister | date('d/m/Y') }}</span>

                                {% if 'ROLE_CLIENT' in lastClient.roles %}
                                <span class="category">Client</span>
                                {% endif %}
                        </div>
                        <div class="description">
                            <p>{{ lastDeveloper.bio }}</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="right floated author">
                            <img class="ui avatar image" src="{{ asset(lastClientImg) }}"> Matt
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="segment-root-3">SEGMENT ROOT</div>

<div id="parallax-root-2"></div>
<div class="custom-container">
    {# <h2 class="uk-animation-slide-right">Meilleurs services</h2> #}
    <div id="last-developers"></div>
</div>











{% block javascripts %}
{{ parent() }}
{# {{ encore_entry_script_tags('HomeCarrousel') }} #}
{{ encore_entry_script_tags('CarouselComponent') }}
{{ encore_entry_script_tags('home') }}
{% endblock %}
{% endblock %}