{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('react-responsive-carousel') }}
{{ encore_entry_link_tags('react-multi-carousel') }}
{% endblock %}

{% block body %}
{# title page #}
{# <div class="ui container">
    {% if app.user %}<h1 class="uk-animation-slide-bottom">Bienvenue, {{ app.user.username }}!</h1>
    {% else %}<h1 class="uk-animation-slide-bottom">{{ title_page }}</h1>
    {% endif %}
</div> #}


{# <div id="carousel-root"></div> #}
<div id="parallax-root"></div>




<div class="custom-container">
    {# <h2 class="uk-animation-slide-right">Meilleurs services</h2> #}
    <div id="bestservices-root"></div>
</div>
<div class="custom-container">
    {# <h2 class="uk-animation-slide-right">Meilleurs services</h2> #}
    <div id="last-developers"></div>
</div>



<div id="parallax-root-2"></div>







{% block javascripts %}
{{ parent() }}
{# {{ encore_entry_script_tags('HomeCarrousel') }} #}
{{ encore_entry_script_tags('CarouselComponent') }}
{% endblock %}
{% endblock %}