{% extends 'base.html.twig' %}
{% block title %}
{# si results contient un tableau on affiche la liste des résultats #}
{% if results is iterable and results is not empty %}
{{title_page}}
{% else %}
{# sinon le titre du détail du service #}
Détail du service
{% endif %}
{% endblock %}

{% block body %}
{% if results is iterable and results is not empty %}
<h1>{{title_page}}</h1>
{% else %}
<h1>Détail du service</h1>
{% endif %}


{# formulaire d'ajout d'un nouveau service #}
{% if formAddService is defined %}
{{ form_start(formAddService, {'attr': {'class': 'ui form'}}) }}

<div class="{% if formAddService.course.theme.vars.errors|length > 0 %} field{% endif %}">
    {{ form_row(formAddService.course.theme) }}
</div>
<div class="{% if formAddService.course.category.vars.errors|length > 0 %} field{% endif %}">
    {{ form_row(formAddService.course.category) }}
</div>
<div class="{% if formAddService.course.course.vars.errors|length > 0 %} field{% endif %}">
    {{ form_row(formAddService.course.course) }}
</div>
<div class="{% if formAddService.user.vars.errors|length > 0 %} field{% endif %}">
    {{ form_row(formAddService.user) }}
</div>
<hr>
<div class="{% if formAddService.picture.vars.errors|length > 0 %} field{% endif %}">
    {{ form_row(formAddService.picture) }}
</div>

<div class="{% if formAddService.title.vars.errors|length > 0 %} field{% endif %}">
    {{ form_row(formAddService.title) }}
</div>

<div class="{% if formAddService.description.vars.errors|length > 0 %} field{% endif %}">
    {{ form_row(formAddService.description) }}
</div>

<div class="{% if formAddService.price.vars.errors|length > 0 %} field{% endif %}">
    {{ form_row(formAddService.price) }}
</div>
<div class="{% if formAddService.duration.vars.errors|length > 0 %} field{% endif %}">
    {{ form_row(formAddService.duration) }}
</div>
<div class="field">
    {{ form_row(formAddService.submit) }}
</div>
{{ form_end(formAddService) }}
{% endif %}

{# si results contient un tableau on affiche la liste des résultats #}
{% if results is iterable and results is not empty %}
<div class="ui list">
    {% for results in results %}
    <div class="item">
        <i class="folder icon"></i>
        <div class="content">
            <div class="header">{{ results.title }}</div>
        </div>
    </div>
    {% endfor %}
</div>
{# sinon on affiche le détail d'un service #}
{% elseif results|default %}
<div class="ui list">
    <div class="item">
        <i class="folder icon"></i>
        <div class="content">
            <div class="header">{{ results.title}}</div>
        </div>
    </div>
</div>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
{% if results|default %}
<a href="{{ path('edit_service', { 'id': results.id }) }}" class="ui-button ui-widget ui-corner-all" title="Button with icon only">
    <span class="ui-icon ui-icon-pencil"></span> Editer
</a>
<a href="{{ path('new_service') }}" class="ui-button ui-widget ui-corner-all" title="Button with icon only">
    <span class="ui-icon ui-icon-plus"></span> Ajouter
</a>
<a href="{{ path('new_service') }}" class="ui-button ui-widget ui-corner-all" title="Button with icon only">
    <span class="ui-icon ui-icon ui-icon-trash"></span> Supprimer
</a>
{% endif %}
{% endif %}
{# On inject le script pour la gestion des contenus dynamique des select #}
{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('ViewServiceForm') }}
{% endblock %}

{% endblock %}