{% extends 'base.html.twig' %}

{% block title %}Hello ServiceController!{% endblock %}

{% block body %}

{% if form|default %}
{{ form_start(form, {'attr': {'class': 'ui form'}}) }}
<div class="field">
    {{ form_row(form.course.theme, {'attr': {'id': 'service_annonce_theme'}}) }}
</div>
<div class="field">
    {{ form_row(form.course.NameCategory, {'attr': {'id': 'service_annonce_category'}}) }}
</div>
<div class="field">
    {{ form_row(form.course.NameCourse, {'attr': {'id': 'service_annonce_course'}}) }}
</div>
<div class="field">
    {{ form_row(form.title) }}
</div>
<div class="field">
    {{ form_row(form.description) }}
</div>
<div class="field">
    {{ form_row(form.price) }}
</div>
<div class="field">
    {{ form_row(form.duration) }}
</div>

{{ form_row(form.valider) }}
{{ form_end(form) }}
{% endif %}

{% if services | default %}
{% for service in services %}
{{ service }}
{% endfor %}
{% endif %}

<script>
    const form_select_theme = document.getElementById('service_course_theme');
    const form_select_category = document.getElementById('service_course_NameCategory');
    const form_select_course = document.getElementById('service_course_NameCourse');

    const updateForm = async (url) => {
        try {
            const req = await fetch(url);
            return await req.json();
        } catch (error) {
            console.error('Failed to fetch or parse JSON:', error);
            return [];
        }
    };

    const updateCategories = async (e) => {
        const themeId = e.target.value;
        const url = `/categories_by_theme/${themeId}`;
        const categories = await updateForm(url);

        form_select_category.innerHTML = '';
        categories.forEach(category => {
            const option = document.createElement('option');
            option.value = category.id;
            option.textContent = category.name;
            form_select_category.appendChild(option);
        });

        form_select_course.innerHTML = '';
    };

    const updateCourses = async (e) => {
        const categoryId = e.target.value;
        const url = `/courses_by_category/${categoryId}`;
        const courses = await updateForm(url);

        form_select_course.innerHTML = '';
        courses.forEach(course => {
            const option = document.createElement('option');
            option.value = course.id;
            option.textContent = course.name;
            form_select_course.appendChild(option);
        });
    };

     form_select_theme.addEventListener('change', updateCategories);
     form_select_category.addEventListener('change', updateCourses);
</script>
{% endblock %}