{% extends 'base.html.twig' %}

{% block body %}

<div class="ui container">


    <div class="separator">{% include "alertflash/flash_message.html.twig" %}</div>

    {# formulaire d'ajout d'un nouveau service #}
    {% if formAddService is defined %}

    {{ form_start(formAddService, {'attr': {'class': 'ui form service'}}) }}
    <h1 class="uk-animation-slide-right">{{ title_page }}
        {# <span>
            {% if service|default and service.title is not null %}
            {{ service.title }}
            {% endif %}
        </span> #}
    </h1>

    <div class="field">
        {{ form_label(formAddService.course.theme) }}
        {{ form_widget(formAddService.course.theme) }}
        {{ form_errors(formAddService.course.theme) }}
    </div>
    <div class="field">
        {{ form_label(formAddService.course.category) }}
        {{ form_widget(formAddService.course.category) }}
        {{ form_errors(formAddService.course.category) }}
    </div>
    <div class="field">
        {{ form_label(formAddService.course.course) }}
        {{ form_widget(formAddService.course.course) }}
        {{ form_errors(formAddService.course.course) }}
    </div>
    <hr>
    {# Prévisualisation de l'image existante #}
    {% if service|default %}
    <img id="imagePreview" src="{{ asset(service.picture) }}" alt="Image Preview"
        style="max-width: 200px; max-height: 200px;" />
    {% endif %}

    <div class="field">
        {{ form_label(formAddService.picture) }}
        {{ form_widget(formAddService.picture, {'attr': {'onchange': 'previewImage(event)'}}) }}
        {{ form_errors(formAddService.picture) }}
    </div>
    <div class="field">
        {{ form_label(formAddService.title) }}
        {{ form_widget(formAddService.title) }}
        {{ form_errors(formAddService.title) }}
    </div>
    <div class="field">
        {{ form_label(formAddService.description) }}
        {{ form_widget(formAddService.description) }}
        {{ form_errors(formAddService.description) }}
    </div>
    <div class="field">
        {{ form_label(formAddService.price) }}
        {{ form_widget(formAddService.price) }}
        {{ form_errors(formAddService.price) }}
    </div>
    <div class="field">
        {{ form_label(formAddService.duration) }}
        {{ form_widget(formAddService.duration) }}
        {{ form_errors(formAddService.duration) }}
    </div>
    <div class="field">
        {{ form_row(formAddService.submit) }}
    </div>
    {{ form_end(formAddService) }}
    {% endif %}



    {# Liste des services #}
    {% if services|default %}
    <div class="ui list">
        {% for service in services %}
        <div class="item">
            <i class="folder icon"></i>
            <div class="content">
                <div class="header"> <a href="{{ path('detail_service', { 'id': service.id }) }}">{{ service.title}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}


    {# Détail d'un service #}
    {% if service|default %}
    <div class="custom-container">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">{{ service.title}}</div>
                <div class="meta">
                    <span class="right floated time">{{ service.createDate|date("d/m/Y H:i") }}</span>
                    <span class="category">{{ service.course.nameCourse }}</span>
                </div>
                <div class="description">
                    <p>{{ service.description }}</p>
                </div>
            </div>
            <div class="extra content">
                <div class="left floated author">
                    {% if formAddOrder is defined %}
                    <h1 class="uk-animation-slide-down">{{title_page}}</h1>
                    {{ form_start(formAddOrder, {'attr': {'class': 'ui form order'}}) }}
                    {# la class field pour afficher les erreurs #}
                    <div class="{{ formAddOrder.serviceId.vars.errors|length > 0 ? 'field error' }}">
                        {{ form_label(formAddOrder.serviceId) }}
                        {{ form_errors(formAddOrder.serviceId) }}
                        {{ form_widget(formAddOrder.serviceId) }}
                    </div>
                    <div>
                        <button type="submit" class="ui-button ui-widget ui-corner-all">
                            <span class="ui-icon ui-icon-check"></span>Soumettre
                        </button>
                    </div>


                    {{ form_end(formAddOrder) }}
                    {% endif %}
                </div>
                <div class="right floated author">
                    <img class="ui avatar image" src="{{ asset(service.user.picture) }}">
                    {{ service.user.username }}
                </div>
            </div>
        </div>
    </div>
    {# si l'utilisateur est connecter #}
    {% if app.user %}
    {# On s'assure que l'user est l'auteur du service #}
    {% if service.user.id == app.user.id %}
    {# <a href="" class="ui button primary">
        Suprimer un service
    </a> #}
    {% endif %}
    {% endif %}

    {% endif %}
    {% block javascripts %}
    {{ parent() }}
    {# On a besoin de ces scripts uniquement si nous créons ou éditons un Service #}
    {% if formAddService is defined %}
    {# On inject le script pour la gestion des contenus dynamique des select #}
    {{ encore_entry_script_tags('ViewServiceForm') }}
    {# On inject le script pour la prévisualisation de l'image avant upload (enregistrement) #}
    {{ encore_entry_script_tags('previewImage') }}
    {% endif %}
    {% endblock %}
</div>
{% endblock %}