{% extends 'base.html.twig' %}

{% block body %}

<div class="ui container">
    <div class="separator"></div>
    <h1 class="uk-animation-slide-right">{{ title_page }}</h1>
    <div class="separator">{% include "alertflash/flash_message.html.twig" %}</div>
</div>


<div class="ui container">
    {% if formAddService is defined %}
    <div class="ui container">
        <div class="ui segment">
            {# formulaire d'ajout d'un nouveau service #}
            {% include "itemService/form/form.html.twig" %}  
        </div>
    </div>
    {% endif %}

    {# Liste des services #}
    {% if services|default %}
    <div class="ui list">
        {% for service in services %}
        <div class="item">
            <i class="folder icon"></i>
            <div class="content">
                <div class="header"> <a href="{{ path('detail_service', { 'id': service.id }) }}">{{ service.title}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}


    {# Détail d'un service #}
    {% if service|default %}
    <div class="ui container product-container">
        <div class="ui two column stackable grid">
            <div class="column">
                <div class="ui segment equal-height">
                    <div class="product-image">
                        <img src="{{ asset(service.picture) }}" alt="Product Image" class="ui fluid image">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui segment equal-height">
                    <div class="product-details">
                        <h1 class="ui header">{{ service.title }}</h1>
                        <p><strong>Description: </strong>{{ service.description }}</p>
                        <p><strong>Prix: </strong>{{ service.price }}€</p>
                        <p><strong>Catégories: </strong>{{ service.course.nameCourse }}</p>
                        <p><strong>Créé le: </strong>{{ service.createDate|date('d/m/Y') }}</p>
                        <p><strong>Réf: </strong>{{ service.id }}</p>
                        <a href="{{ path('add_service_cart', {'id': service.id}) }}"
                            class="ui primary button add-to-cart-btn">Ajouter au panier</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# si l'utilisateur est connecter #}
    {% if app.user %}
    {# On s'assure que l'user est l'auteur du service #}
    {% if service.user.id == app.user.id %}
    {% endif %}
    {% endif %}

    {% endif %}
    {% block javascripts %}
    {{ parent() }}
    {# On a besoin de ces scripts uniquement si nous créons ou éditons un Service #}
    {% if formAddService is defined %}
    {# On inject le script pour la gestion des contenus dynamique des select #}
    {{ encore_entry_script_tags('Service') }}
    {# On inject le script pour la prévisualisation de l'image avant upload (enregistrement) #}
    {{ encore_entry_script_tags('previewImage') }}
    {% endif %}
    {% endblock %}
</div>
{% endblock %}