{% extends 'base.html.twig' %}

{% block body %}
<h1 class="uk-animation-slide-bottom">{{ title_page }}</h1>
<div class="separator">{% include "alertflash/flash_message.html.twig" %}</div>

{# formulaire d'ajout d'un nouveau service #}
{% if formAddService is defined %}

{{ form_start(formAddService, {'attr': {'class': 'ui form'}}) }}
<div class="field">
    {{ form_label(formAddService.course.theme) }}
    {{ form_widget(formAddService.course.theme) }}
    {{ form_errors(formAddService.course.theme) }}
</div>
<div class="field">
    {{ form_label(formAddService.course.category) }}
    {{ form_widget(formAddService.course.category) }}
    {{ form_errors(formAddService.course.category) }}
</div>
<div class="field">
    {{ form_label(formAddService.course.course) }}
    {{ form_widget(formAddService.course.course) }}
    {{ form_errors(formAddService.course.course) }}
</div>
<hr>
<div class="field">
    {# Prévisualisation de l'image existante #}
    <div class="field">
        <img id="imagePreview" src="{{ asset(service.picture) }}" alt="Image Preview"
            style="max-width: 200px; max-height: 200px;" />
    </div>
</div>
<div class="field">
    {{ form_label(formAddService.picture) }}
    {{ form_widget(formAddService.picture, {'attr': {'onchange': 'previewImage(event)'}}) }}
    {{ form_errors(formAddService.picture) }}
</div>
<div class="field">
    {{ form_label(formAddService.title) }}
    {{ form_widget(formAddService.title) }}
    {{ form_errors(formAddService.title) }}
</div>
<div class="field">
    {{ form_label(formAddService.description) }}
    {{ form_widget(formAddService.description) }}
    {{ form_errors(formAddService.description) }}
</div>
<div class="field">
    {{ form_label(formAddService.price) }}
    {{ form_widget(formAddService.price) }}
    {{ form_errors(formAddService.price) }}
</div>
<div class="field">
    {{ form_label(formAddService.duration) }}
    {{ form_widget(formAddService.duration) }}
    {{ form_errors(formAddService.duration) }}
</div>
<div class="field">
    {{ form_row(formAddService.submit) }}
</div>
{{ form_end(formAddService) }}
{% endif %}


{% if service|default %}
{# Détail d'un service #}
<div class="ui fluid card">
    <div class="content">
        <div class="header">{{ service.title}}</div>
        <div class="meta">
            <span class="right floated time">{{ service.createDate|date("j F d/m/Y H:i") }}</span>
            <span class="category">{{ service.course.nameCourse }}</span>
        </div>
        <div class="description">
            <p>{{ service.description }}</p>
        </div>
    </div>
    <div class="extra content">
        <div class="right floated author">
            <img class="ui avatar image" src="{{ asset(service.user.picture) }}">
            {{ service.user.username }}
        </div>
    </div>
</div>
{# Liste des services #}
<div class="ui list">
    {% for service in services %}
    <div class="item">
        <i class="folder icon"></i>
        <div class="content">
            <div class="header"> <a href="{{ path('detail_service', { 'id': service.id }) }}">{{ service.title}}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{# On s'assure que l'user est l'auteur du service #}
{% if service.user.id == app.user.id %}
<a href="" class="ui button primary">
    Suprimer un service
</a>
{% endif %}
{% endif %}

{% block javascripts %}
{{ parent() }}
{# On inject le script pour la gestion des contenus dynamique des select #}
{{ encore_entry_script_tags('ViewServiceForm') }}
{# On inject le script pour la prévisualisation de l'image avant upload (enregistrement) #}
{{ encore_entry_script_tags('previewImage') }}
{% endblock %}
{% endblock %}