{% extends 'base.html.twig' %}

{% block body %}
<style>
    .ui.two.column.stackable.equal.height.grid {
        height: auto; 
    }
    
    .ui.two.column.stackable.equal.height.grid > .column {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: auto; 
    }
    
    .ui.container.service {
        padding-top:10vh;
        max-width: 100%;
        height: 100vh; 
    }
    
    .ui.two.column.stackable {
        margin-top: 20px;
        box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.1);
    }
    
    .ui.list.service {
        padding-top: 40px;
    }
    
    .product-image.service img {
        vertical-align: bottom;
    }
    
    .flex-end {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
</style>
<div class="ui container service">

    <div class="uk-animation">
        <div class="uk-animation-slide-right">
            <p class="uk-text-left">
            <h1 class="title uk-animation-slide-right">
                {% if service | default %}
                {{ service.title }}
                {% else %}
                {{ title_page }}
                {% endif %}
            </h1>
            </p>
        </div>
    </div>


    {% if formAddService is defined %}
    <div class="ui container">
        <div class="ui segment">
            {# formulaire d'ajout d'un nouveau service #}
            {% include "itemService/form/form.html.twig" %}
        </div>
    </div>
    {% endif %}



    {# Liste des services #}
    {% if services | default %}
    <div class="ui list service">
        {% for service in services %}
        <div class="item">
            <i class="folder icon"></i>
            <div class="content">
                <div class="header"> <a href="{{ path('detail_service', { 'id': service.id }) }}">{{ service.title}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}




    {# Détail d'un service #}
    {% if service | default %}

    <div class="ui two column stackable equal height grid uk-animation-fade">

        <div class="column">
            <div class="product-image service">
                <img src="{{ asset(service.picture) }}" alt="Product Image {{ service.title }}" class="ui fluid image">
            </div>
            <div class="ui segment">
                <div class="product-details">
                    <p><strong>Catégories: </strong>{{ service.course.nameCourse }}</p>
                </div>
            </div>
        </div>

        <div class="column flex-end">
            <div class="ui mini card">
                <div class="content">
                    <div class="header">{{ service.user.username }}</div>
                    <div class="meta">
                        <span class="date">Propose ce service</span>
                    </div>
                </div>
                <div class="extra content">
                    <a href="{{ path('detail_user', {'id': service.user.id}) }}">
                        <i class="user icon"></i>
                        Voir le profil
                    </a>
                </div>
            </div>
        
            <p><strong>Description: </strong>{{ service.description }}</p>
            <p><strong>Prix: </strong>{{ service.price }}€</p>
            <p><strong>Catégories: </strong>{{ service.course.nameCourse }}</p>
            <p><strong>Créé le: </strong>{{ service.createDate|date('d/m/Y') }}</p>
            <p><strong>Réf: </strong>{{ service.id }}</p>
            <a href="{{ path('add_service_cart', {'id': service.id}) }}"
                class="ui primary button add-to-cart-btn">Ajouter au panier</a>
        </div>
    </div>
    {# si l'utilisateur est connecter #}
    {% if app.user %}
    {# On s'assure que l'user est l'auteur du service #}
    {% if service.user.id == app.user.id %}
    {% endif %}
    {% endif %}

    {% endif %}
    {% block javascripts %}
    {{ parent() }}
    {# On a besoin de ces scripts uniquement si nous créons ou éditons un Service #}
    {% if formAddService is defined %}
    {# On inject le script pour la gestion des contenus dynamique des select #}
    {{ encore_entry_script_tags('Service') }}
    {# On inject le script pour la prévisualisation de l'image avant upload (enregistrement) #}
    {{ encore_entry_script_tags('previewImage') }}
    {% endif %}
    {% endblock %}
</div>
{% endblock %}