{% extends 'base.html.twig' %}

{% block title %}{{title_page}}{% endblock %}

{% block body %}
<h1>{{title_page}}</h1>
{# On vérifie que le formulaire existe avant de l'afficher #}
{% if formAddCategory is defined  %}
{{ form_start(formAddCategory, {'attr': {'class': 'ui form', 'novalidate' : 'novalidate'}}) }}
{# la class field pour afficher les erreurs #}

<div class="{% if formAddCategory.nameCategory.vars.errors|length > 0 %}field {% endif %}">
{{ form_row(formAddCategory.nameCategory) }}
{{ form_row(formAddCategory.theme) }}
{{ form_row(formAddCategory.submit) }}
</div>
{{ form_end(formAddCategory) }}
{% endif %}
{# On affiche les catégories touvées #}
{% if categories | default %}
<div class="ui list">
    {% for category in categories %}
    <div class="item">
        <i class="folder icon"></i>
        <div class="content">
            <div class="header">{{ category.NameCategory }}</div>
        </div>
    </div>
    {% endfor %}
</div>
<a href="{{ path('new_category') }}" class="ui button">
    Ajouter une catégorie
</a>
{% endif %}

{% endblock %}