{% extends 'base.html.twig' %}

{% block title %}Hello ServiceController!{% endblock %}

{% block body %}


{% if formAddCategory|default %}

{{ form_start(formAddCategory, {'attr': {'class': 'ui form'}}) }}

<div class="field">
    {{ form_row(formAddCategory.NameCategory) }}
</div>
<div class="field">
    {{ form_row(formAddCategory.theme) }}
</div>
<div class="field">
    {{ form_row(formAddCategory.submit) }}
</div>

{{ form_end(formAddCategory) }}
{% endif %}


{% if categories | default %}

<div class="ui list">
    {% for category in categories %}
    <div class="item">
        <i class="folder icon"></i>
        <div class="content">
            <div class="header">{{ category.NameCategory }}</div>
            {# <div class="description">Source files for project</div> #}
        </div>
    </div>
    {% endfor %}
</div>
<a href="{{ path('new_category') }}" class="ui button">
    Ajouter une catégorie
</a>
{% endif %}

{% endblock %}