{% extends 'base.html.twig' %}

{% block title %}{{title_page}}{% endblock %}

{% block body %}

<div class="separator"></div>

<div class="custom-container">

    <div class="separator">{% include "alertflash/flash_message.html.twig" %}</div>

    {% if formAddOrder is defined %}
    <h1 class="uk-animation-slide-down">{{title_page}}</h1>

    {{ form_start(formAddOrder, {'attr': {'class': 'ui form order'}}) }}
    <div class="ui stacked segment">
        {# la class field pour afficher les erreurs #}

        <div class="{{ formAddOrder.serviceId.vars.errors|length > 0 ? 'field error' }}">
            {{ form_label(formAddOrder.serviceId) }}
            {{ form_errors(formAddOrder.serviceId) }}
            {{ form_widget(formAddOrder.serviceId) }}
        </div>

        <div>
            <button type="submit" class="ui-button ui-widget ui-corner-all">
                <span class="ui-icon ui-icon-check"></span>Soumettre
            </button>
        </div>

    </div>
    {{ form_end(formAddOrder) }}
    {% endif %}


    {# <table class="ui celled table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>No Name Specified</td>
                <td>Unknown</td>
                <td class="negative">None</td>
            </tr>
            <tr class="positive">
                <td>Jimmy</td>
                <td><i class="icon checkmark"></i> Approved</td>
                <td>None</td>
            </tr>
            <tr>
                <td>Jamie</td>
                <td>Unknown</td>
                <td class="positive"><i class="icon close"></i> Requires call</td>
            </tr>
            <tr class="negative">
                <td>Jill</td>
                <td>Unknown</td>
                <td>None</td>
            </tr>
        </tbody>
    </table> #}

    <a href="{{ path('profile_edit', {'id':app.user.id} ) }}" class="ui button primary">
        Mon Profil
    </a>
    <a href="" class="ui button primary">
        ?
    </a>
    <a href="" class="ui button primary">
        ?
    </a>
    <a href="" class="ui button primary">
        ?
    </a>

</div>

{% endblock %}