{% block navbar %}

<div class="ui fixed borderless huge menu">
    <div class="ui grid">
        <div class="computer only row">
            <div class="left menu">
                <div class="">
                    <a href="{{ path('home') }}" class="item">Accueil</a>
                </div>
                <div class="">
                    <a href="{{ path('home_enterprise') }}" class="item">Entrepreneurs</a>
                </div>
                <div class="">
                    <a href="{{ path('home_developer') }}" class="item">Développeurs</a>
                </div>
                <div class="ui fluid dropdown link item">
                    <div class="item">
                        Thèmes
                        <i class="theme icon"></i>
                    </div>
                    <div class="menu">
                        {# Boucle sur les thèmes #}
                        {% for theme in get_navbar_data() %}
                        <div class="item">
                            <a href="{{ path('detail_theme', { 'id': theme.id }) }}">
                                <i class="dropdown icon"></i>
                                {{ theme.name }}
                            </a>
                            <div class="menu">
                                {# Boucle sur les catégories du thème #}
                                {% for category in theme.categories %}
                                <div class="item">
                                    <a href="{{ path('detail_category', { 'id': category.id }) }}">
                                        <i class="dropdown icon"></i>
                                        {{ category.name }}
                                    </a>
                                    <div class="menu">
                                        {# Boucle sur les cours de la catégorie #}
                                        {% for course in category.courses %}
                                        <div class="item">
                                            <a href="{{ path('detail_course', { 'id': course.id }) }}">{{ course.name
                                                }}</a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
            <div class="right menu">

                {# Formulaire de recherche personnalisé avec sélecteur de class spécifique ajax-form#}
                {{ form_start(form_service, {'attr': {'class': 'ui form ajax-form'}}) }}
                <div class="ui icon input full-width-input">
                    {{ form_widget(form_service.search_term) }}
                    <i class="search link icon" id="search-icon"></i>
                </div>
                {# Input pour garantir le nom du formulaire #}
                <input type="hidden" name="submitted_form_type" value="form_search_navabar">
                {{ form_end(form_service) }}

                <a href="{{ path('search') }}" class="item">Avancées</a>
                {% if app.user %}
                <a href="{{ path('profile_edit', {'id': app.user.id}) }}" class="ui item">Bonjour {{ app.user.username
                    }}</a>
                <a href="{{ path('logout') }}" class="ui item">Se déconnecter</a>
                {% else %}
                <a href="{{ path('login') }}" class="ui item">Se connecter</a>
                <a href="{{ path('register') }}" class="ui item">S'enregistrer</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin') }}" class="ui item">Tableau de bord</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="ui modal navbar">
    <i class="close icon"></i>
    <div class="header">
      Résultats de recherche
    </div>
    <div class="image content">
      <div class="ui medium image "></div>
      <div class="description">
        <div class="ui header fluid"></div>
        <div id="search-results-navbar"></div>
      </div>
    </div>  
    <div class="actions">
      <div class="ui black deny button">
        Quitter
      </div>
      {# <div class="ui positive right labeled icon button">
        Yep, that's me
        <i class="checkmark icon"></i>
      </div> #}
    </div>
  </div>
{% block js %}
{{ encore_entry_script_tags('jquery_ui') }}
{{ encore_entry_script_tags('semantic') }}
{{ encore_entry_script_tags('ViewNavbarDropdown') }}
{# {{ encore_entry_script_tags('searchMotor') }} #}
{% endblock %}

{% endblock %}