{% block navbar %}
<!--Start: Nav  -->
<div class="ui fixed borderless huge menu">
    <div class="ui container custom-container-navbar grid ">
        <!-- Section pour les alertes -->
        <div id="alert-javascript-desktop">
            {% include "alertflash/flash_message.html.twig" %}
        </div>
        <!--Start: Desktop Nav-->
        <div class="computer only row">
            <a href="{{ path('home') }}" class=" item">Accueil</a>
            <a href="{{ path('list_user_type', {'role': 'ROLE_CLIENT', 'page' : '1' }) }}"
                class="item">Entrepreneurs</a>
            <a href="{{ path('list_user_type', {'role': 'ROLE_DEVELOPER', 'page' : '1'}) }}"
                class="item">Développeurs</a>
            <div class="ui dropdown link item">
                <div class="theme">
                    Thèmes
                    <i class="theme icon"></i>
                </div>
                <div class="menu menu-dropdown-desktop">
                    {% for theme in get_navbar_data() %}
                    <div class="item">
                        <a href="{{ path('detail_theme', { 'id': theme.id }) }}">
                            <i class="dropdown icon"></i>
                            {{ theme.name }}
                        </a>
                        <div class="menu">
                            {% for category in theme.categories %}
                            <div class="item">
                                <a href="{{ path('detail_category', { 'id': category.id }) }}">
                                    <i class="dropdown icon"></i>
                                    {{ category.name }}
                                </a>
                                <div class="menu">
                                    {% for course in category.courses %}
                                    <div class="item">
                                        <a href="{{ path('detail_course', {'id': course.id, 'page' : '1' }) }}">
                                            {# <a href="{{ path('detail_course', {'id': course.id, 'page' : '1'}) }}">
                                                #}
                                                {{ course.name }}
                                            </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- End: dropdown -->
            <div class="right menu">
                <!-- Start: Search -->
                <div class="item no-underline">
                    <!-- Formulaire Desktop -->
                    {% include './navbar/form/formDesktop.html.twig' with { 'attr': { 'class': 'desktop-search-form' } }
                    %}

                    <div class="results"></div>
                </div>
                <!-- End: Search -->
                <a href="{{ path('search') }}" class="item">Avancées</a>
                {% if app.user %}
                <a href="{{ path('profile_edit', {'id': app.user.id}) }}" class="ui item">Bonjour {{ app.user.username
                    }}</a>
                <a href="{{ path('logout') }}" class="ui item">Se déconnecter</a>
                {% else %}
                <a href="{{ path('login') }}" class="ui item">Se connecter</a>
                <a href="{{ path('register') }}" class="ui item">S'enregistrer</a>
                {% endif %}
                <!-- Bloc cart -->
                <a href="{{ path('cart_product') }}" class="ui item">
                    <i class="cart arrow down icon"></i>
                    <div class="cart-info">
                        <span class="cart-item-count">{{ totalServiceItem }} Article(s)</span>
                        <span class="cart-total">{{ total }} €</span>
                    </div>
                </a>
            </div>
        </div>
        <!--End: Desktop Nav-->
        <!--Start: Mobile Nav-->
        <div class="tablet mobile only row">
            <a class="header item">Fiverr Junior</a>

            <div class="right menu">
                <a class="menu item" href="{{ path('cart_product') }}">
                    <div id="menu-cart" class="ui basic icon toggle button">
                        <i class="cart arrow down icon"></i>
                    </div>
                </a>
                <a class="menu item">
                    <div id="menu-burger" class="ui basic icon toggle button burger">
                        <i class="content icon"></i>
                    </div>
                </a>
                <div id="alert-javascript-mobile">{% include "alertflash/flash_message.html.twig" %} </div>
            </div>
            <div class="ui vertical accordion borderless fluid menu">


                <!-- Start: Search -->
                <div class="item">
                    {% include './navbar/form/formMobile.html.twig' with { 'attr': { 'class': 'mobile-search-form' } }%}
                </div>







                <!-- End: Search -->
                <!-- Code d'affichage des alertes pour mobile -->
                <a href="{{ path('home') }}" class="item">Accueil</a>
                <a href="{{ path('list_user_type', {'role': 'ROLE_CLIENT', 'page' : '1' }) }}"
                    class="item">Entrepreneurs
                </a>
                <a href="{{ path('list_user_type', {'role': 'ROLE_DEVELOPER', 'page' : '1'}) }}"
                    class="item">Développeurs
                </a>
                <div class="title">
                    Thèmes<i class="theme icon"></i>
                </div>
                <div class="content">
                    {% for theme in get_navbar_data() %}
                    <div class="item">
                        <div class="title">
                            <i class="dropdown icon"></i>
                            {{ theme.name }}
                        </div>
                        <div class="content">
                            {% for category in theme.categories %}
                            <div class="item">
                                <div class="title">
                                    <i class="dropdown icon"></i>
                                    {{ category.name }}
                                </div>
                                <div class="content">
                                    {% for course in category.courses %}
                                    <div class="item">
                                        <a href="{{ path('detail_course', {'id': course.id, 'page' : '1' }) }}">
                                            {# <a href="{{ path('detail_course', {'id': course.id, 'page' : '1'}) }}">
                                                #}
                                                {{ course.name }}
                                            </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="ui divider"></div>
                {% if app.user %}
                <a href="{{ path('profile_edit', {'id': app.user.id}) }}" class="ui item">Bonjour {{ app.user.username
                    }}</a>
                <a href="{{ path('logout') }}" class="ui item">Se déconnecter</a>
                {% else %}
                <a href="{{ path('login') }}" class="ui item">Se connecter</a>
                <a href="{{ path('register') }}" class="ui item">S'enregistrer</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin') }}" class="ui item">Tableau de bord</a>
                {% endif %}
            </div>
        </div>
        <!--End: Mobile Nav-->
    </div>
</div>


{% block js_navbar %}
{{ encore_entry_script_tags('jquery_ui_js') }}
{{ encore_entry_script_tags('semantic') }}
{{ encore_entry_script_tags('dropdown') }}
{{ encore_entry_script_tags('navbar') }}
{{ encore_entry_script_tags('searchMotor') }}
{% endblock %}

{% endblock %}