{% block navbar %}
<div class="ui fixed borderless huge menu">
  <div class="ui grid">
    <div class="computer only row">
      <div class="left menu">
        <div class="">
          <a href="{{ path('home') }}" class="item">Accueil</a>
        </div>
        <div class="">
          <a href="{{ path('home') }}" class="item">Entrepreneurs</a>
        </div>
        <div class="">
          <a href="{{ path('home') }}" class="item">Développeurs</a>
        </div>

        <div class="ui fluid dropdown link item">
          <div class="item">
            Thèmes
            <i class="theme icon"></i>
          </div>

          <div class="menu">
            {# Service/navbar/NavBarService.php #}
            {% for theme in get_navbar_data() %}
            <div class="item">
              <i class="dropdown icon"></i>
              {{ theme.name }}
              <div class="menu">
                {% for category in theme.categories %}
                <div class="item">
                  <i class="dropdown icon"></i>
                  {{ category.name }}
                  <div class="menu">
                    {% for course in category.courses %}
                    <div class="item">{{ course.name }}</div>
                    {% endfor %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="right menu">
        <a href="{{ path('search') }}" class="item">Recherches</a>
        {% if app.user %}
        <a href="#" class="ui item">Bonjour {{ app.user.username }}</a>
        <a href="{{ path('profile') }}" class="ui item">Profil</a>
        <a href="{{ path('logout') }}" class="ui item">Se déconnecter</a>
        {% else %}
        <a href="{{ path('login') }}" class="ui item">Se connecter</a>
        <a href="{{ path('register') }}" class="ui item">S'enregistrer</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin') }}" class="ui item">Tableau de bord</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% block javascripts %}
{{ encore_entry_script_tags('ViewNavbarDropdown') }}
{% endblock %}

{% endblock %}

