{% extends 'base.html.twig' %}

{% block title %}{{ title_page }}{% endblock %}

{% block body %}
<div class="sperator"></div>

<div class="ui basic modal">
    <h2>{{ title_page }}</h2>
    <div class="content">
        <div class="ui grid">
            <div class="four wide left attached column">
                <div class="ui vertical fluid menu">
                    <div id="menu-service"
                        class="item field {{ submitted_form == 'form_service' ? 'active teal' : '' }}">
                        <form method="post" action="{{ path('search_resultat') }}" class="ui form ajax-form">
                            <div class="ui icon input full-width-input">
                                <input type="text" name="search_term">
                                <i class="search icon"></i>
                            </div>
                            <input type="hidden" name="submitted_form_type" value="service">
                            <button type="submit" class="ui button">Rechercher</button>
                        </form>
                        <div class="ui label">{{ service_count }}</div>
                    </div>
                    <div id="menu-theme" class="item field {{ submitted_form == 'form_theme' ? 'active teal' : '' }}">
                        {{ form_start(form_theme, {'attr': {'id': 'form_theme', 'class': 'ui form ajax-form'}}) }}
                        {{ form_widget(form_theme, {'attr': {'class': 'full-width-input'}}) }}
                        <input type="hidden" name="submitted_form_type" value="theme">
                        {{ form_end(form_theme) }}
                        <div class="ui label">{{ theme_count }}</div>
                    </div>
                </div>
            </div>
            <div class="twelve wide stretched column">
                <div id="search-results"></div>
            </div>
            <div class="actions">
                <div class="ui red basic cancel inverted button">
                    <i class="remove icon"></i>
                    Annuler
                </div>
                <div class="ui green ok inverted button">
                    <i class="checkmark icon"></i>
                    Yes
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sperator"></div>
{% endblock %}