<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {{ encore_entry_link_tags('jquery_ui_theme') }}
    {{ encore_entry_link_tags('jquery_structure') }}
    {{ encore_entry_link_tags('uikit_css') }}
    {{ encore_entry_link_tags('carousel') }}
    {{ encore_entry_link_tags('slick-carousel-css') }}
    {{ encore_entry_link_tags('slick-carousel-theme-css') }}
    
    {# {{ encore_entry_link_tags('semantic_css') }} #}
    {{ encore_entry_link_tags('semantic_less') }}
    {{ encore_entry_link_tags('app_styles') }}
    {% endblock %}
</head>

<body>
    <header>
        {# On utilise un controller pour rendre un form search dans la navbar #}
        {{ render(controller('App\\Controller\\NavbarController::index')) }}
    </header>

    <artcile>
        <div class="separator"></div>
        <div class="ui container">
            <div class="ui segment" id="search-results-container" style="display: none;">
                <div class="ui grid">
                    <div class="sixteen wide column search-results"
                        style="display: flex; justify-content: space-between; align-items: center;">
                        <h2 id="search-results-title">Résultats de la recherche</h2>
                        <button class="ui button primary" id="close-results">Fermer</button>
                    </div>
                    <div class="sixteen wide column search-results">
                        <div id="search-results"></div>
                    </div>
                </div>
            </div>
        </div>
        {% block body %} {% endblock %}
    </artcile>

    <footer>{% include 'footer/footer.html.twig' %}</footer>

    {% block javascripts %}

    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('semantic') }}

    {{ encore_entry_script_tags('jquery_ui') }}
    {{ encore_entry_script_tags('uikit') }}
    {{ encore_entry_script_tags('uikit-icons') }}
    {{ encore_entry_script_tags('slick-carousel') }}
    
    {{ encore_entry_script_tags('messageFlash') }}
    {{ encore_entry_script_tags('HomeCarrousel') }}
    {{ encore_entry_script_tags('StickyFooter') }}
    
    {% endblock %}
</body>

</html>