{% block orders_completed %}
<h2>Mes commandes (complètes)...</h2>
    {% if orders_completed %}
        <div class="ui relaxed divided list">
            {% for order in orders_completed %}
                <div class="item">
                    <i class="large middle aligned history icon"></i>
                    <div class="content">
                        <a href="{{ path('invoice_pdf', { id: order.id }) }}" class="header">Facture PDF</a>
                        <div class="description">{{ order.dateOrder|date("d/m/Y H:i") }}</div>
                        <div class="extra">
                            <button 
                                class="ui button red delete-order-btn" 
                                data-id="{{ order.id }}" 
                                data-url="{{ path('delete_completed_invoice', { id: order.id }) }}">
                                Supprimer
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if pagination_completed.pageCount > 1 %}
            <div class="ui pagination menu centered custom-margin-top">
                {% for page in range(1, pagination_completed.pageCount) %}
                    <a class="item{% if page == pagination_completed.currentPageNumber %} active{% endif %}"
                       href="{{ path('profile_edit', {'id' : app.user.id|e, 'status': 'completed', 'page': page|e }) }}">
                        {{ page }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    {% else %}
        <p>Pas de factures</p>
    {% endif %}
{% endblock %}


