{% block paid_orders %}
<h2>Mes commandes...</h2>
    {% if orders_pending %}
        <div class="ui relaxed divided list">
            {% for order in orders_pending %}
                <div class="item">
                    <i class="large middle aligned history icon"></i>
                    <div class="content">
                        {# <a href="{{ order.invoice.pdfPath }}" class="header">Facture PDF</a>  #}
                        <a href="{{ path('invoice_pdf', { id: order.id }) }}" class="header">Facture PDF</a>
                        <div class="description">{{ order.dateOrder|date("d/m/Y H:i") }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if pagination_pending.pageCount > 1 %}
            <div class="ui pagination menu centered custom-margin-top">
                {% for page in range(1, pagination_pending.pageCount) %}
                    <a class="item{% if page == pagination_pending.currentPageNumber %} active{% endif %}"
                       href="{{ path('profile_edit', {'id' : app.user.id|e, 'status': 'pending', 'page': page|e }) }}">
                        {{ page|e }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    {% else %}
        <p>Pas de commande en cours</p>
    {% endif %}
{% endblock %}


