{% extends 'base.html.twig' %}

{% block title %}{{title_page}}{% endblock %}

{% block body %}

<div class="custom-container">
    {# container title animation #}
    <div class="uk-animation">
        <div class="uk-animation-slide-right">
            <h1 class="title uk-animation-slide-right">{{ title_page }}</h1>
        </div>
    </div>
    {# list theme #}
    {% if themes | default %}
    <div class="ui list uk-animation-fade">
        {% for theme in themes %}
        <div class="item">
            <i class="folder icon"></i>
            <div class="content">
                <div class="header">
                    <a href="{{ path('detail_theme', { 'id': theme.id }) }}">{{ theme.nameTheme }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {# list category by theme #}
    {% if categories | default %}
    {# On affiche les category touvées #}
    <div class="ui list uk-animation-fade">
        {% for category in categories %}
        <div class="item">
            <i class="folder icon"></i>
            <div class="content">
                <div class="header">
                    <a href="{{ path('detail_category', { 'id': category.id }) }}">{{ category.nameCategory }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {# add theme #}
    {% if formAddTheme is defined %}
    <div class="ui segment">
        {{ form_start(formAddTheme, {'attr': {'class': 'ui form'}}) }}
        <div class="{% if formAddTheme.nameTheme.vars.errors|length > 0 %}field{% endif %}">
            {{ form_row(formAddTheme.nameTheme) }}
        </div>
        <div class="field padding-top-large">
            <button name="serviceForm" type="submit" class="ui-button ui-widget ui-corner-all">
                <span class="ui-icon ui-icon-check"></span> Valider
            </button>
        </div>
    </div>
    {{ form_end(formAddTheme) }}
    {% endif %}
    {% if is_granted('ROLE_ADMIN') and formAddTheme is not defined %}
    {# section administration access #}
    <div class="ui segment">
        <h3>Administration:</h3>
        <a href="{{ path('new_theme') }}" class="ui-button ui-widget ui-corner-all margin-top-large">
            <span class="ui-icon ui-icon-plus"></span> Ajouter une thème
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}