{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block title %}Hello ServiceController!{% endbl ock %}
=======
{% block title %}{{ title_page }}{% endblock %}
>>>>>>> a5feb3db027be62ad942fe5c640558f052dbbba0

{% block body %}
<style>
    /* Zone de contenu avec scroll si nécessaire */
    .ui.list.theme, .ui.segment {
        overflow-y: auto;
        flex: 1; /* Prend tout l'espace disponible */
        margin-bottom: 20px; /* Espace pour le footer */
    }

    /* Ajustements de paddings et marges */
    .uk-animation {
        padding-top: 40px;
    }

    /* Style personnalisé pour les boutons d'administration */
    .ui-button {
        margin-top: 20px;
    }

<<<<<<< HEAD
<div class="field">
    {{ form_row(formAddTheme.submit) }}
</div>
=======
    /* Adaptation pour le mobile */
    @media (max-width: 768px) {
        .ui.container.theme {
            padding: 5vh 2vw;
            height: calc(100vh - 15px);
        }
    }
</style>
>>>>>>> a5feb3db027be62ad942fe5c640558f052dbbba0

<div class="ui container theme">
    <!-- Titre avec animation -->
    <div class="uk-animation">
        <div class="uk-animation-slide-right">
            <h1 class="title uk-animation-slide-right">{{ title_page }}</h1>
        </div>
    </div>

    <!-- Liste des thèmes -->
    {% if themes | default %}
    <div class="ui list theme uk-animation-fade">
        {% for theme in themes %}
        <div class="item">
            <i class="folder icon"></i>
            <div class="content">
                <div class="header">
                    <a href="{{ path('detail_theme', { 'id': theme.id }) }}">{{ theme.nameTheme }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <!-- Section d'administration pour les utilisateurs avec le rôle ADMIN -->
    {% if is_granted('ROLE_ADMIN') and formAddTheme is not defined %}
    <div class="ui segment">
        <h3>Administration :</h3>
        <a href="{{ path('new_theme') }}" class="ui-button ui-widget ui-corner-all margin-top-large">
            <span class="ui-icon ui-icon-plus"></span> Ajouter un thème
        </a>
    </div>
    {% endif %}
    {% endif %}

    <!-- Liste des catégories associées au thème -->
    {% if categories | default %}
    <div class="ui list theme uk-animation-fade">
        {% for category in categories %}
        <div class="item">
            <i class="folder icon"></i>
            <div class="content">
                <div class="header">
                    <a href="{{ path('detail_category', { 'id': category.id }) }}">{{ category.nameCategory }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Options d'administration pour les utilisateurs avec le rôle ADMIN -->
    {% if is_granted('ROLE_ADMIN') and formAddCourse is not defined %}
    <div class="ui segment padding-bottom-large">
        <h3>Administration :</h3>
        <a href="{{ path('new_theme') }}" class="ui-button ui-widget ui-corner-all margin-top-large">
            <span class="ui-icon ui-icon-plus"></span> Ajouter un thème
        </a>
        <a href="{{ path('new_course') }}" class="ui-button ui-widget ui-corner-all margin-top-large">
            <span class="ui-icon ui-icon-plus"></span> Ajouter une catégorie
        </a>
    </div>
    {% endif %}
    {% endif %}

    <!-- Formulaire d'ajout de thème -->
    {% if formAddTheme is defined %}
    <div class="ui segment">
        {{ form_start(formAddTheme, {'attr': {'class': 'ui form'}}) }}
        <div class="{% if formAddTheme.nameTheme.vars.errors|length > 0 %}field{% endif %}">
            {{ form_row(formAddTheme.nameTheme) }}
        </div>
        <div class="field padding-top-large">
            <button name="serviceForm" type="submit" class="ui-button ui-widget ui-corner-all">
                <span class="ui-icon ui-icon-check"></span> Valider
            </button>
        </div>
    </div>
    {{ form_end(formAddTheme) }}
    {% endif %}
</div>
{% endblock %}
