{% extends 'base.html.twig' %}

{% block title %}{{title_page}}{% endblock %}

{% block body %}
<h1>{{title_page}}</h1>

{# On vérifie que le formulaire existe avant de l'afficher #}
{% if formAddTheme is defined %}
{{ form_start(formAddTheme, {'attr': {'class': 'ui form'}}) }}
{# Si erreur on ajoute la class field #}
<div class="{% if formAddTheme.nameTheme.vars.errors|length > 0 %}field{% endif %}">
    {{ form_row(formAddTheme.nameTheme) }}
    {{ form_row(formAddTheme.submit) }}
</div>
{{ form_end(formAddTheme) }}
{% endif %}
{# On affiche les thèmes touvés #}
{% if themes | default %}
<div class="ui list">
    {% for theme in themes %}
    <div class="item">
        <i class="folder icon"></i>
        <div class="content">
            <div class="header">{{ theme.nameTheme }}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('new_theme') }}" class="ui button">
        Ajouter une thème
    </a>
{% endif %}
{% endif %}

{% endblock %}