{% extends 'base.html.twig' %}
{% block body %}

<div class="separator"></div>
<div class="custom-container">
    <h1 class="uk-animation-slide-right">Bienvenue sur votre {{ title_page }} {{ app.user }}</h1>

    <div class="separator">{% include "alertflash/flash_message.html.twig" %}</div>


    <div class="ui grid equal-height-columns">
        <div class="eight wide column">
            <div class="ui segment f">
                {{ form_start(form) }}
                <div class="ui form">

                    {% if user.picture %}
                    <div class="field">
                        <img id="imagePreview" src="{{ asset(user.picture) }}" alt="Image Preview"
                            style="max-width: 200px; max-height: 200px;" />
                    </div>
                    {% endif %}

                    <div class="field">
                        {{ form_label(form.picture) }}
                        {{ form_widget(form.picture, {'attr': {'onchange': 'previewImage(event)'}}) }}
                        {{ form_errors(form.picture) }}
                    </div>
                    <div class="field">
                        {{ form_label(form.date_register) }}
                        {{ form_widget(form.date_register) }}
                        {{ form_errors(form.date_register) }}
                    </div>
                    <div class="field">
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username) }}
                        {{ form_errors(form.username) }}
                    </div>
                    <div class="field">
                        {{ form_label(form.first_name) }}
                        {{ form_widget(form.first_name) }}
                        {{ form_errors(form.first_name) }}
                    </div>
                    <div class="field">
                        {{ form_label(form.last_name) }}
                        {{ form_widget(form.last_name) }}
                        {{ form_errors(form.last_name) }}
                    </div>
                    <div class="field">
                        {{ form_label(form.phone_number) }}
                        {{ form_widget(form.phone_number) }}
                        {{ form_errors(form.phone_number) }}
                    </div>
                    <div class="field">
                        {{ form_label(form.city) }}
                        {{ form_widget(form.city) }}
                        {{ form_errors(form.city) }}
                    </div>
                    <div class="field">
                        {{ form_label(form.portfolio) }}
                        {{ form_widget(form.portfolio) }}
                        {{ form_errors(form.portfolio) }}
                    </div>
                    <div class="field">
                        {{ form_label(form.bio) }}
                        {{ form_widget(form.bio) }}
                        {{ form_errors(form.bio) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui segment">

                <div class="ui relaxed divided list">
                    <div class="item">
                        <i class="large github middle aligned icon"></i>
                        <div class="content">
                            <a class="header">Semantic-Org/Semantic-UI</a>
                            <div class="description">Updated 10 mins ago</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large github middle aligned icon"></i>
                        <div class="content">
                            <a class="header">Semantic-Org/Semantic-UI-Docs</a>
                            <div class="description">Updated 22 mins ago</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large github middle aligned icon"></i>
                        <div class="content">
                            <a class="header">Semantic-Org/Semantic-UI-Meteor</a>
                            <div class="description">Updated 34 mins ago</div>
                        </div>
                    </div>
                </div>
                <div class="ui container">
                    <a href="{{ path('new_service') }}" class="ui button primary">
                        Déposer un service
                    </a>
                    <a href="" class="ui button primary">
                        Modifier un service
                    </a>
                    <a href="" class="ui button primary">
                        Suprimer un service
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% block javascripts %}
{{ parent() }}
{# On inject le script pour la prévisualisation de l'image avant upload (enregistrement) #}
{{ encore_entry_script_tags('previewImage') }}
{% endblock %}
{% endblock %}