{% extends 'base.html.twig' %}
{% block body %}

<div class="separator"></div>
<div class="custom-container">
    <h1 class="uk-animation-slide-right">Bienvenue sur votre {{ title_page }} {{ app.user }}</h1>

    <div class="separator">{% include "alertflash/flash_message.html.twig" %}</div>

    <div class="ui grid equal-height-columns">

        <div class="eight wide column">

            <div class="ui grid equal-height-columns">

                <div class="eight wide column">

                    <div class="ui segment f">
                        {{ form_start(form) }}
                        <div class="ui form">

                            {% if user.picture %}
                            <div class="field ">
                                <img id="imagePreview" src="{{ asset(user.picture) }}" alt="Image Preview"/>
                            </div>
                            {% endif %}

                            <div class="field">
                                {{ form_label(form.picture) }}
                                {{ form_widget(form.picture, {'attr': {'onchange': 'previewImage(event)'}}) }}
                                {{ form_errors(form.picture) }}
                            </div>
                            <div class="field">
                                {{ form_label(form.date_register) }}
                                {{ form_widget(form.date_register) }}
                                {{ form_errors(form.date_register) }}
                            </div>
                            <div class="field">
                                {{ form_label(form.username) }}
                                {{ form_widget(form.username) }}
                                {{ form_errors(form.username) }}
                            </div>
                            <div class="field">
                                {{ form_label(form.first_name) }}
                                {{ form_widget(form.first_name) }}
                                {{ form_errors(form.first_name) }}
                            </div>
                            <div class="field">
                                {{ form_label(form.last_name) }}
                                {{ form_widget(form.last_name) }}
                                {{ form_errors(form.last_name) }}
                            </div>
                            <div class="field">
                                {{ form_label(form.phone_number) }}
                                {{ form_widget(form.phone_number) }}
                                {{ form_errors(form.phone_number) }}
                            </div>
                            <div class="field">
                                {{ form_label(form.city) }}
                                {{ form_widget(form.city) }}
                                {{ form_errors(form.city) }}
                            </div>
                            <div class="field">
                                {{ form_label(form.portfolio) }}
                                {{ form_widget(form.portfolio) }}
                                {{ form_errors(form.portfolio) }}
                            </div>
                            <div class="field">
                                {{ form_label(form.bio) }}
                                {{ form_widget(form.bio) }}
                                {{ form_errors(form.bio) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>

                <div class="eight wide column">
                    Wait...
                </div>
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui segment">
                <h2>Commandes en cours</h2>
                {% if orders is iterable %}
                <div class="ui relaxed divided list">
                    {% for order in orders %}
                    <div class="item">
                        <i class="large middle aligned history icon"></i>
                        <div class="content">
                            <a class="header">{{ order.title}}</a>
                            <div class="description">{{ order.dateOrder|date("d/m/Y H:i") }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="ui container">
                    Button...
                </div>
            </div>

            <div class="ui segment">

                <div class="ui container">
                    Button...
                </div>
                {# <div class="ui container">
                    <hr>
                    {% if is_granted('ROLE_DEVELOPER') %}
                    <a href="{{ path('new_service') }}" class="ui button primary">
                        Déposer un service
                    </a>
                    <a href="" class="ui button primary">
                        Modifier un service
                    </a>

                    <a href="" class="ui button primary">
                        Suprimer un service
                    </a>
                    <hr>
                    <a href="{{ path('list_orders_developer') }}" class="ui button primary">
                        Mes commandes
                    </a>
                    {% elseif is_granted('ROLE_CLIENT') %}
                    <a href="{{ path('list_orders_developer') }}" class="ui button primary">
                        Mes factures
                    </a>
                    <a href="{{ path('new_order_client') }}" class="ui button primary">
                        Nouvelle Commande
                    </a>
                    {% endif %}
                </div> #}
            </div>

            <div class="ui segment">

                <div class="ui container">
                    Button...
                </div>
                {# <div class="ui container">
                    <hr>
                    {% if is_granted('ROLE_DEVELOPER') %}
                    <a href="{{ path('new_service') }}" class="ui button primary">
                        Déposer un service
                    </a>
                    <a href="" class="ui button primary">
                        Modifier un service
                    </a>

                    <a href="" class="ui button primary">
                        Suprimer un service
                    </a>
                    <hr>
                    <a href="{{ path('list_orders_developer') }}" class="ui button primary">
                        Mes commandes
                    </a>
                    {% elseif is_granted('ROLE_CLIENT') %}
                    <a href="{{ path('list_orders_developer') }}" class="ui button primary">
                        Mes factures
                    </a>
                    <a href="{{ path('new_order_client') }}" class="ui button primary">
                        Nouvelle Commande
                    </a>
                    {% endif %}
                </div> #}
            </div>


        </div>
    </div>
</div>


{% block javascripts %}
{{ parent() }}
{# On inject le script pour la prévisualisation de l'image avant upload (enregistrement) #}
{{ encore_entry_script_tags('previewImage') }}
{% endblock %}
{% endblock %}